[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".tmux/plugins/tmux-better-mouse-mode"]
	path = .tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
