URxvt.scrollBar: false
URxvt.geometry: 150x40

!#define termfont      xft:Input:size=11, xft:Noto Color Emoji:pixelsize=13:slant=0:weight=100:minspace=True
!#define termfont      xft:Roboto Mono:size=12, xft:Noto Color Emoji:pixelsize=13:slant=0:weight=100:minspace=True
#define termfont xft:Input:size=12,xft:DejaVu Sans:pixelsize=14
URxvt.font:           termfont
!URxvt.font: xft:Input:size=11

URxvt.internalBorder: 11
urxvt*depth: 32

URxvt.letterSpace: -1

! https://bbs.archlinux.org/viewtopic.php?id=111141
! disable fucking iso14755 mode with Shift-Ctrl
URxvt*iso14755: false
URxvt*iso14755_52: false

! bind Shift-Ctrl-(c|v) to copy-paste 
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

#include "/home/nb-karpochev/.Xresources.d/solarized.h"
!#include "/home/nb-karpochev/.Xresources.d/black.h"
!#include "/home/nb-karpochev/.Xresources.d/white.h"
!#include "/home/nb-karpochev/.Xresources.d/monokai.h"
!#include "/home/nb-karpochev/.Xresources.d/gotham.h"
!#include "/home/nb-karpochev/.Xresources.d/desert.h"
