# zsh
alias vim="nvim"
alias updrc="source ~/.zshrc"

alias goland='nohup ~/Downloads/GoLand-2018.1.4/bin/goland.sh &'

alias .cd='cd ..'
alias ..cd='cd ../..'
alias ...cd='cd ../../..'
alias ....cd='cd ../../../..'

alias cdg="cd "$GOPATH
